{% if iface['cidr'] is defined %}
    address {{ iface['cidr'] }}
{% endif %}
{% if iface['netmask'] is defined %}
    netmask {{ iface['netmask'] }}
{% endif %}
{% if iface['broadcast'] is defined %}
    broadcast {{ iface['broadcast'] }}
{% endif %}
{% if iface['gateway'] is defined %}
    gateway {{ iface['gateway'] }}
{% endif %}
{% if iface['dns_domain'] is defined %}
    dns-domain {{ iface['dns_domain'] }}
{% endif %}
{% if iface['name_servers']is defined %}
    dns-nameservers {{ iface['name_servers'] | join(' ') }}
{% endif %}
{% if iface['post_up'] is defined %}
{% for command in iface['post_up'] %}
    post-up {{ command }}
{% endfor %}
{% endif %}
{% if iface['post_down'] is defined %}
{% for command in iface['post_down'] %}
    post-down {{ command }}
{% endfor %}
{% endif %}
