auto {{ interface.key }}
{% if interface.value.dhcp | default(false) %}
iface {{ interface.key }} inet dhcp
{% else %}
iface {{ interface.key }} inet {{ interface.value['cidr'] is defined | ternary('static', 'manual') }}
{% endif %}
{% set iface = interface.value %}
{% include 'debian-interface-body.j2' %}
{% if iface_type == 'bridge' %}
    bridge_ports {{ interface.value['bridge_ports'] | join(' ') }}
{% if not interface.value['bridge_stp'] | default(true)%}
    bridge_stp off
        bridge_waitport 0
        bridge_fd 0
{% endif %}
{% endif %}

{% if iface_type == 'trunk' %}
{% for subinterface in interface.value['subinterfaces'] %}
auto {{ interface.key }}.{{ subinterface.vlan_id }}
iface {{ interface.key }}.{{ subinterface.vlan_id }} inet {{ subinterface['cidr'] is defined | ternary('static', 'manual') }}
{% set iface = subinterface %}
{% include 'debian-interface-body.j2' %}
{% endfor %}
{% endif %}
