#
# PPPoE client: only outgoing calls, auto reconnect,
# ipcp-negotiated address, one-sided authentication,
# default route points on ISP's end
#
default:
        load {{ interface.value.pppoe.config_name | default('pppoe_client') }}
        
{{ interface.value.pppoe.config_name | default('pppoe_client') }}:
        create bundle static B1
        set iface name {{ interface.value.pppoe['iface_name'] | default('pppoe') }}
        set iface enable tcpmssfix
        set iface route default
        set ipcp ranges 0.0.0.0/0 0.0.0.0/0
{% if interface.value.pppoe.up_script is defined %}
        set iface up-script {{ up_script_path }}
{% endif %}

        create link static L1 pppoe
        set link action bundle B1
        set auth authname {{ interface.value.pppoe.username }}
        set auth password {{ interface.value.pppoe.password }}
        set link max-redial 0
        set link mtu 1492
        set link mru 1492
        set link keep-alive 10 60
        set pppoe iface {{ interface.key }}
        set pppoe service ""
        open
