default:
  set log Phase tun command
  set ifaddr 10.0.0.1/0 10.0.0.2/0

{{ interface.value.pppoe.config_name }}:
  set device PPPoE:{{ interface.key }}
  set authname {{ interface.value.pppoe.username }}
  set authkey {{ interface.value.pppoe.password }}
  set dial
  set login
  add default HISADDR
