[Interface]
Address = {{ interface.value.cidr }}
PrivateKey = {{ private_key }}
{% if interface.value['wireguard']['listen_port'] is defined -%}
ListenPort = {{ interface.value['wireguard']['listen_port'] }}
{% endif -%}
{% if interface.value['name_servers'] is defined -%}
DNS = {{ interface.value['wireguard']['name_servers'] | join(', ') }}
{% endif -%}
{% if interface.value['wireguard']['post_up'] is defined -%}
PostUp = {{ interface.value.wireguard.post_up | join(' ; ') }}
{% endif -%}
{% if interface.value['wireguard']['pre_down'] is defined -%}
PreDown = {{ interface.value.wireguard.pre_down | join(' ; ') }}
{% endif %}


{% for peer in interface.value['wireguard']['peers'] | default([]) -%}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips | join(', ') }}
{% if peer['endpoint'] is defined -%}
Endpoint = {{ peer['endpoint'] }}
{% endif -%}
{% if peer['keepalive'] is defined -%}
PersistentKeepalive = {{ peer['keepalive'] }}
{% endif %}

{% endfor -%}
